@import "../styles/mixins";

.back-link {
  height: 48px;
  display: flex;
  align-items: center;
  margin-block-end: var(--nlportal-space-block-sm, 0.875rem);

  @media (width <= 479px) {
    display: none;
  }
}
