@import "../styles/mixins";

.back-link {
  margin-bottom: var(--nlportal-space-block-3xl, 2.5rem);

  @media (width <= 479px) {
    display: none;
  }

  @include breakpoint(tablet) {
    margin-block-end: var(--nlportal-space-block-xl, 1.5rem);
  }
}
