@import "../styles/mixins";

.cases-list {
  &__cases {
    --denhaag-card-width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--nlportal-space-inline-xl, 1.5rem);

    @include breakpoint(desktop) {
      grid-template-columns: 1fr 1fr;
      gap: var(--nlportal-space-inline-2xl, 2rem);
    }

    &--list {
      display: block;
    }
  }

  &__pagination {
    margin-block-start: var(--nlportal-space-block-2xl, 2rem);
  }
}
