@import "../styles/mixins";

.cases-list {
  &__cases {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--nlportal-space-inline-xl, 1.5rem);
    row-gap: var(--nlportal-space-block-xl, 1.5rem);
    --denhaag-card-width: 100%;

    @include breakpoint(desktop) {
      grid-template-columns: 1fr 1fr;
      column-gap: var(--nlportal-space-inline-xl2, 2rem);
      row-gap: var(--nlportal-space-block-xl2, 2rem);
    }
  }
}


