@import "../styles/mixins";

.cases__container {
}

.cases__container:not(:first-child) {
  margin-block-start: var(--nlportal-space-block-5xl, 4rem);
}

.cases__container-header {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);
}

.cases__cards {
  display: flex;
  flex-direction: column;
  --denhaag-card-width: 100%;

  @include breakpoint(desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.cases__card {
  margin-block-end: var(--nlportal-space-block-xl, 1.5rem);

  @include breakpoint(desktop) {
    width: calc(50% - var(--nlportal-space-inline-md, 1rem));
  }
}
