.form {
  display: flex;
  flex-direction: column;
  gap: var(--nlportal-form-gap, var(--nlportal-space-inline-2xl, 2rem));
  margin-block-start: var(
    --nlportal-form-margin-block-start,
    var(--nlportal-space-inline-xl)
  );
}
