@import "../styles/mixins";

.section-header {
  --utrecht-heading-3-margin-block-end: var(--denhaag-space-block-xs, 0.5rem);
  --utrecht-heading-4-margin-block-end: var(--denhaag-space-block-xs, 0.5rem);

  margin-block-end: var(--denhaag-space-block-xl, 1.5rem);

  &--small {
    margin-block-end: var(--nlportal-space-block-lg, 1rem);
  }
}
