@import "../styles/mixins";

.sidenav-divider {
  @include breakpoint(tablet) {
    height: 4px;
    padding-block-start: var(--nlportal-space-block-sm, 0.875em);
    padding-block-end: var(--nlportal-space-block-sm, 0.875em);
  }
}
