@import "../styles/mixins";

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: var(--nlportal-space-block-xl, 1rem);

  @include breakpoint(desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__skeleton {
    @include breakpoint(desktop) {
      width: calc(50% - var(--nlportal-space-inline-md, 1rem));
    }
  }
}
