@use "../styles/mixins";

.account__label-description {
  margin-block-end: var(--nlportal-space-block-md, 2rem) !important;
}

.account__description-list {
  word-break: break-word;
}

.account__link-list {
  --utrecht-space-around: 1;
  --utrecht-link-list-margin-block-start: 16px;
}

.account__address-research-description {
  --utrecht-space-around: 1;
  --utrecht-paragraph-margin-block-start: 16px;
  --utrecht-paragraph-margin-block-end: 16px;
}
