@use "../styles/mixins";

.account__sub-header {
  margin-block-end: var(--nlportal-space-block-2xl, 2rem) !important;

  @include mixins.breakpoint(tablet) {
    margin-block-end: var(--nlportal-space-block-md, 1rem) !important;
  }
}

.account__label-description {
  margin-block-end: var(--nlportal-space-block-md, 2rem) !important;
}
